/* =========================  >  RESETS  <  ========================= */
// Includes all resets or normalizers

/*  --------------------------- > BASE < ---------------------------  */
body {
    background-color: rgb(27, 27, 27) !important;
}

body .jumbotron {
    background-color: rgb(155, 155, 155);
}

textarea {
    resize: none;
}

// -------- > SCROLLBAR < --------
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(39, 39, 39) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(#343a40,0.3);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(#666666,0.7);
}
