<div class="container mt-3">
    <div id="cart_container" class="jumbotron" style="background-color: gray;color: white;text-align:center;">
        <h1>CARRITO DE COMPRAS</h1><br>
        <table id="cartTable" class="table" style="background-color: gray;color: white;text-align:center;">
            <thead>
                <tr>
                <th scope="col">IMG</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANT</th>
                <th scope="col">SUBTOTAL</th>
                </tr>
            </thead>
            <tbody id="cartInner" ></tbody>
        </table>
    </div>
</div>