<div id='root' >
    <header class="sticky-top bg-dark" >
        <nav class="navbar navbar-expand-md navbar-dark bg-dark m-auto pb-0 pt-1" style="max-width: 1420px;">
            <a class="navbar-brand mx-1" href="/home">SITIO</a>
            <div id="mobileIcons">
                <a class="d-md-none mx-3" href="/cart">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="35 -50 576 612" width="32px" height="32px">
                        <path style="fill: gray;" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                    </svg>
                </a>
                <button class="navbar-toggler mx-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" style="border: transparent;">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
                <div style="width:5vw;max-width:50px;"></div>
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item d-none d-md-inline mx-md-3 active" >
                        <a class="nav-link disabled" href="/home">Ir a home</a>
                    </li>
                    <li class="nav-item mx-md-3">
                        <a class="nav-link disabled" href="/products">Productos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-lg-2" style="position:relative;top:5px;";>
                        <a class="d-none d-lg-inline nav-link disabled" href="/home" >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="30px" height="30px">
                                <path style="fill: gray;" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item mx-0 " style="position:relative;top:8px;";>
                        <a class="d-none d-md-inline nav-link" href="/cart" >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="28px" height="28px">
                                <path style="fill: gray;" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item mx-md-3 dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"  >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 548 612" width="30px" height="30px" style="border: solid gray 2px;border-radius: 50%;padding: 3px 0 2px 3px;margin: 0 5px;">
                                <path style="fill: gray;" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                            {{user}}
                        </a>
                        <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item disabled" href="#">Mi Cuenta</a>
                            <div class="dropdown-divider"></div>
                                <form class="form" action="/logout" method="post" role="form" autocomplete="off">
                                    <button class="dropdown-item" type="submit" >Cerrar sesión</button>
                                </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        <div id='cart_content' class="jumbotron"></div>
    </div>
</div>
