<div id="ticket_container" class="container mt-3">
    <div id="ticket_jumbotron" class="jumbotron" style="background-color: gray;color: white;text-align:center;">
        <h1>ORDEN DE COMPRA</h1>
        <p id="ticketId">No.: {{ticket_id}}</p>
        <div id="data" class="d-flex flex-row flex-wrap justify-content-center">
            <div id="user_data" class="pr-md-4" >
            </div>
            <div width="50px"></div>
            <div id="ticket_data" class="pl-md-4" >
            </div>
        </div>
    </div>
</div>